<div id="title">
  <p>Hangman</p>
</div>
<div id="description">
  <p id="quote">
    "Try to guess the secret word, but beware: You only have 6 wrong guesses!
    You can save and load at anytime.
  </p>
</div>
