<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i" rel="stylesheet">
    <title>Hangman</title>
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1>Hangman*</h1>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="restart">
        <p><a id="link" href="/newgame">Give it another go?</a></p>
      </div>
      <div id="footer">
        * Without the actual hangman
      </div>
    </div>
  </body>
</html>
