<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i" rel="stylesheet">
    <title>Hangman</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
