html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Gentium Basic", serif;
}

h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 60px;
}

#container {
  height: auto;
  min-height: 100%;
  position: relative;
}

#title {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#description {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  background-color: #ededed;
}

.textbox {
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
