<div id="description">
  <p>
    Try to guess the secret word, but beware: You only have 6 wrong guesses!
  </p>
</div>
<div id="game">
  <div class="display">
    <% if @blank_display %>
      <%= @blank_display.join(' ') %>
    <% end %>
  </div>
  <div class="wrong">
    <%= session[:wrong_guesses].sort.join(' ') %>
  </div>
  <br>
  <div id="message">
    <%= @message %>
  </div>
  <br>
</div>
<div id="form">
  <form method="POST" action="/">
    You have <%= session[:num_guesses] %> wrong guess(es) left. Pick a letter:
    <input type="text" class="textbox" name="user_guess" pattern="[A-Za-z]" size="1" maxlength="1" autofocus>
  </form>
</div>
